{% extends "base.html" %}
{% block content %}
</head>
<h3>Upload photo </h3>
<h4>Choose any style as output of your photo</h4>
<div class="input-group mb-3">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile02">
    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
  </div>
  <div class="input-group-append">
    <span class="input-group-text" id="">Upload</span>
  </div>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Photo style</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Vincent van Gogh</a>
      <a class="dropdown-item" href="#">Pablo Picasso</a>
      <a class="dropdown-item" href="#">Salvador dali</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Colorize b/w photo</a>
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>
   <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Download image</a>
{% endblock %}
