{% extends "base.html" %}
{% block content %}
</head>
<h3>Upload video </h3>
<h4>Choose any famous person, as a output Deepfake model will imitate your face motion and voice as a below listed person </h4>
<div class="input-group mb-3">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile02">
    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
  </div>
  <div class="input-group-append">
    <span class="input-group-text" id="">Upload</span>
  </div>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Deep fake video</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Barac Obama</a>
      <a class="dropdown-item" href="#">Johnny Sins</a>
      <a class="dropdown-item" href="#">Elon Musk</a>
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>
  <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Download video</a>
{% endblock %}